[user]
	name = Pedro Menezes
	email = email_here

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	lg = log --oneline --graph --decorate
	undo = reset HEAD~1 --soft
	amend = commit --amend --no-edit
	last = log -1 HEAD

[color]
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow
	frag = magenta
	old = red
	new = green
	whitespace = red reverse

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[core]
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol

[push]
	default = current

[fetch]
	prune = true

[diff]
	algorithm = histogram

[merge]
	conflictstyle = zdiff3


[pull]
	rebase = false

[init]
	defaultBranch = main
